<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jqcloud.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jqcloud.min.css')}}">

    <script type="text/javascript" src="{{ url_for('static', filename='charts.js')}}"></script>

    <title>Charts</title>
</head>
<body>
    <!--Div that will hold the pie chart-->
    <div id="pie_chart"></div>
    <button onclick="reload()">RELOAD</button>

    <h2 style="margin-top: 50px">WORD CLOUD</h2>
    <div id="wordcloud" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"></div>
    <button onclick="reloadWords()">RELOAD</button>
</body>
</html>

