<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ obj["title"] }}</title>
</head>
<body>
    
    <h1>Hello {{ obj['title'] }}!</h1>
    {% if obj['cond'] > 0 %}
        <p>true</p>
    {% else %}
        <p>false</p>
    {% endif %}

    <button onclick="hello()">APERTE</button>
</body>
</html>